# -----------------------
# Data
# -----------------------
data/
*.csv

# -----------------------
# MLflow
# -----------------------
mlruns/
mlflow.db

# -----------------------
# Python
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------
# Virtual Environments
# -----------------------
env/
venv/
.env/

# -----------------------
# VS Code
# -----------------------
.vscode/

# -----------------------
# OS files
# -----------------------
.DS_Store
Thumbs.db